@using EFPROJECT1.Models
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            
        
        <tr>
            <td>@item.Name</td>
            <td>@item.Category</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-success">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }  
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Create" class="btn btn-dark">Create</a>
</div>